
.icon-32 { height:32px; width:32px}
.icon-24 { height:24px; width:24px}

.r-icon-text { padding-left: 20px; height: 16px;}

.accept { background-image: url(/images/icons/accept.png) !important; background-repeat: no-repeat; }
.table { background-image: url(/images/icons/table.png) !important; background-repeat: no-repeat; }
.table-edit { background-image: url(/images/icons/table_edit.png) !important; background-repeat: no-repeat; }
.table-add { background-image: url(/images/icons/table_add.png) !important; background-repeat: no-repeat; }
.table-delete { background-image: url(/images/icons/table_delete.png) !important; background-repeat: no-repeat; }
.search { background-image: url(/images/icons/search.png) !important; background-repeat: no-repeat; }
.excel { background-image: url(/images/icons/Excel.gif) !important; background-repeat: no-repeat; }
.pdf { background-image: url(/images/icons/Reader.gif) !important; background-repeat: no-repeat; }
.x-form-field-wrap .trigger{background-image:url(/images/icons/search-trigger.gif);	cursor:pointer;	}
.x-form-field-wrap .date-trigger{background-image:url(/images/icons/date-trigger.gif);	cursor:pointer;	}
.photo-add{ background-image: url(/images/icons/photo_add.png) !important; background-repeat: no-repeat; }
.upload-icon{ background-image: url(/images/icons/image_add.png) !important; background-repeat: no-repeat; }
.justice{ background-image: url(/images/icons/justice.png) !important; background-repeat: no-repeat; }
.award_star_add{ background-image: url(/images/icons/award_star_add.png) !important; background-repeat: no-repeat; }
.report{ background-image: url(/images/icons/report.png) !important; background-repeat: no-repeat; }
